<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous"> 

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <div class="container bg-light">
        {% for  msg in messages %}
        <h1 style="color: blueviolet; text-align:center;">{{ msg }}</h1>
        {% endfor %}
        
        <img src="https://images.squarespace-cdn.com/content/v1/580932d815d5db271a04e55a/1511793480341-LKPQVL70W1Q7D5M5K4DU/paul-skorupskas-59950.jpg?format=1000w"
            width="50%">
    </div>
    <div class="row mt-3">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <a href="{% url 'logout' %}" rol="button" class="btn btn-info w-100">*LOG OUT*</a>
        </div>
        <div class="col-md-4"></div>
    </div>
    
</body>
</html>